.footer {
    position: relative;
    width: 100%;
}

table {
    width: 100%;
    min-width: 320px;
}

table,
td,
th {
    border: 1px solid;
    border-collapse: collapse;
    border-color: var(--subtext);
}

table tr th {
    font-size: calc(2vw + 6px);
    padding: 10px 2px;
    color: var(--white);
    background-color: var(--header);
    border: 0;
}

table tr td {
    font-size: calc(3vw + 2px);
    text-align: center;
    padding: 5px 1px;
    border: 0px;
}


tr:nth-child(odd) {
    background-color: #f0f0f0;
}

.myclosed {
    color: var(--text);
    .background-color: #f0f0f0;
    font-weight: bold;

}
