.mainm, .mounts {
    line-height: 400%;
    height: 500px;
    padding: 10px;
}

.mounts p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: var(--text);
    border: 1px solid var(--subtext);
    border-radius: 10px;
    margin-bottom: 5px;
}
