* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* Отключение выделения текста */
* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Удаление стилей выделения текста */
::selection {
  background: transparent;
  color: inherit;
}

::-moz-selection {
  background: transparent;
  color: inherit;
}

/* Удаление стилей для ссылок */
a {
  text-decoration: none;
  color: inherit;
}

a::selection {
  background: transparent;
  color: inherit;
}

a::-moz-selection {
  background: transparent;
  color: inherit;
}

/* Убираем стандартные стили фокуса */
a:focus {
  outline: none;
  box-shadow: none;
  background: transparent;
}

/* Убираем эффект нажатия на мобильных устройствах */
a {
  -webkit-tap-highlight-color: transparent;
}

/* Если хотите заменить стиль фокуса на собственный */
a.custom-focus:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  background: rgba(0, 123, 255, 0.1);
  border-radius: 4px;
}

:root {
  --color-background: #f1f1f1;
  --color-bg-block: #ffffff;
  --color-text: #000;
  --color-active-table: #dbdbdb;
  --color-active-text-table: #000000;
  --fill: #000;
  --stroke: #000;

  --line: #b3b3b3;
  --red: #ff0000;
  --bg-footer: #c3fadc;
}

.dark-mode body {
  --color-background: #222222;
  --color-bg-block: #000000;
  --color-text: #ffffff;
  --color-active-table: #535353;
  --color-active-text-table: #ffffff;
  --fill: #ffffff;
  --stroke: #ffffff;

  --bg-footer: #167c3d;
}

@font-face {
  font-family: 'monplesir';
  src: url('../fonts/monplesir.woff2') format('woff2'),
    url('../fonts/monplesir.woff2') format('woff'),
    url('../fonts/monplesir.otf') format('opentype'),
    url('../fonts/monplesir.ttf') format('opentype');
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  background-color: var(--color-background);
  color: var(--color-text);
}

svg {
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
}

svg path {
  fill: var(--fill);
  stroke: var(--stroke);
}

header {
  position: relative;
  height: 60px;
  z-index: 1;
}

.menu_icon_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  min-width: 320px;
  height: 60px;
  padding: 0 15px;
  gap: 15px;
  background-color: var(--color-bg-block);
}

.menu_text {
  flex: 1;
  line-height: 1.2;
}

.menu_text h1 {
  font-size: 1.8em;
  font-weight: bold;
}

.menu_text p {
  font-size: 1.5em;
}

.menu_icon_loc {
  gap: 5px;
}

.menu_icon_loc svg {
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
}

main {
  position: relative;
}

.main_container {
  width: calc(100vw - 10px);
  min-width: calc(320px - 10px);
  height: calc(100vh - 115px);
  margin: 5px;
  padding: 10px;
  background-color: var(--color-bg-block);
  border-radius: 15px;
  overflow: auto;
}

.start_end_prayer_time {
  padding: 15px;
  border-radius: 10px;
  background-color: var(--color-background);
}

.start_end_time_box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.start_end_time_box {
  line-height: 1.5;
}

.start_time {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-bg-block);
}

.start_time h2 {
  font-size: 1.5em;
}

.start_time h2~h2 {
  font-size: 2em;
}

.end_time {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-bg-block);
}

.end_time h2 {
  font-size: 1.5em;
}

.end_time h2~h2 {
  font-size: 2em;
}

/* Line progress */
#progressBarContainer {
  width: 100%;
  height: 10px;
  background-color: var(--line);
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
}

#redLine {
  height: 100vh;
  background-color: var(--red);
  width: 100vw;
  transition: width 0.5s ease;
}

.list_container {
  display: none;
}

.list_container #cityList {
  list-style-type: none;
  padding: 20px;
  margin: 5px 0;
}

.list_container ul {
  border-radius: 10px;
  background-color: var(--color-background);
}

.list_container #cityList li {
  padding-bottom: 5px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 1.5em;
  border-bottom: 1px solid var(--line);
}

.main_container .current-prayer {
  color: var(--red);
  font-size: 2.5em;
  font-weight: bold;
}

.name_time {
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 10px;
  gap: 15px;
  border-radius: 10px;
  background-color: var(--color-background);
}

.name_time svg path {
  stroke: none;
}

.prayer_time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.prayer_time h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.prayer_time p {
  font-size: 2em;
}

.month-title {
  font-size: 1.5em;
  padding: 0 10px 10px;
}

.table_container {
  padding: 10px 0 25px 0;
  border-radius: 10px;
  background-color: var(--color-background);
}

.table_container table {
  position: relative;
  border-collapse: collapse;
  width: 100%;
}

.table_container thead {
  position: sticky;
  top: -15px;
  background-color: var(--color-background);
}

.table_container table tr th {
  font-size: calc(2vw + 5px);
}

.table_container table tr td {
  font-size: calc(3vw + 2px);
  text-align: center;
  padding: 5px 0;
  border: 0;
}

.table_container th {
  padding: 10px 0;
}

.table_container .prayer-times-table td {
  border-bottom: 1px solid var(--line);
}

.table_container .prayer-times-table td:nth-child(1) {
  border-right: 1px solid var(--line);
}

.table_container .current-day {
  background-color: var(--color-active-table);
  color: var(--color-active-text-table);
  font-weight: bold;
}

.month-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}

.month-selector #monthList {
  padding-top: 20px;
}

.month-selector ul {
  list-style-type: none;
  padding: 0;
  display: none;
}

.month-selector #toggleMonthsButton {
  text-transform: uppercase;
  border: 1px solid var(--line);
  border-radius: 100px;
  padding: 5px 15px;
}

.month-selector li {
  display: flex;
  justify-content: center;
  width: 100vw;
  font-size: 0.9em;
  cursor: pointer;
  padding: 10px;
  background-color: var(--color-background);
  border: 1px solid var(--line);
  margin-bottom: 5px;
}

.month-selector li.active {
  background-color: var(--color-bg-block);
  font-weight: bold;
}

.mounth_day_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
}

.mounth_day_container .table-header {
  font-size: 1.8em;
  font-weight: bold;
}

.mounth_day_container .selected-month {
  font-size: 1.6em;
}

footer {
  position: relative;
}

.footer_container {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 5px;
  left: 0;
  width: calc(100vw - 10px);
  min-width: calc(320px - 10px);
  height: 40px;
  margin: 0 5px;
  padding: 0 10px;
  border-radius: 15px;
  background-color: var(--color-bg-block);
}

.mounth_year_pages {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}

.mounth_year_pages svg {
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
}

.mounth_year_pages svg path {
  stroke: none;
}

.mounth_year_pages p {
  font-size: 0.8em;
  text-transform: uppercase;
}

.mounth_year_pages a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.mounth_year_pages .active {
  color: var(--red-text);
  border-radius: 5px;
  padding: 0 50px;
  margin: 0 -50px;
  height: 40px;
  background-color: var(--bg-footer);
}

/*iPhone*/
.imodal {
  position: fixed;
  left: 0
}

.imodal {
  display: none;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .9);
  z-index: 10;
}

.imodal-content {
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  position: relative;
}

.iclose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: 700;
}

.iclose:focus,
.iclose:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}