:root {
  --color-background: #f1f1f1;
  --color-bg-list: #fff;
  --color-bg-container: #f1f1f1;
  --color-container: #fff;
  --color-bg-container-prayer-day: #fff;
  --color-text: #000;
  --color-text-prayer-day: #ff0000;
  --color-border: #000;
  --color-box-shadow: #0000002a;
  --color-svg: #000;
  --fill: #000;
  --stroke: #000;
  --color-calendar-bg: #fff;
  --color-calendar-text: #000;
}

.dark-mode body {
  --color-background: #222222;
  --color-bg-list: #000;
  --color-bg-container: #222222;
  --color-container: #000000;
  --color-bg-container-prayer-day: #000;
  --color-text: #fff;
  --color-text-prayer-day: #ff7474;
  --color-border: #fff;
  --color-box-shadow: #ffffff27;
  --color-svg: #fff;
  --fill: #fff;
  --stroke: #fff;
  --color-calendar-bg: #000;
  --color-calendar-text: #fff;
}

@font-face {
  font-family: 'monplesir';
  src: url('../fonts/monplesir.woff2') format('woff2'),
    url('../fonts/monplesir.woff2') format('woff'),
    url('../fonts/monplesir.otf') format('opentype'),
    url('../fonts/monplesir.ttf') format('opentype');
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  background-color: var(--color-background);
  color: var(--color-text);
}

svg {
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
}

svg path {
  fill: var(--fill);
  stroke: var(--stroke);
}