* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: 'monplesir';
  src: url('../fonts/monplesir.woff2') format('woff2'),
    url('../fonts/monplesir.woff2') format('woff'),
    url('../fonts/monplesir.otf') format('opentype'),
    url('../fonts/monplesir.ttf') format('opentype');
}

body {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 10px;
}

svg {
  width: 30px;
  min-width: 30px;
  height: 30px;
}

svg path {
  fill: #000;
}

header {
  position: relative;
  height: 60px;
  z-index: 1;
}

.header_container {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100vw;
  min-width: 320px;
  height: 60px;
  top: 0;
  left: 0;
  background-color: #fff;
}

.header_icon svg {
  width: 30px;
  min-width: 30px;
  height: 30px;
  margin: 15px;
}

.header_text h1 {
  font-size: 2em;
  font-weight: bold;
}

.header_text .menu_open {
  display: flex;
  align-items: end;
}

.header_text #menuIcon {
  width: 20px;
  height: 20px;
}

.header_text p {
  font-size: 1.5em;
  margin: 2px 2px 2px 0;
}

.header_icon img {
  position: relative;
  top: -7px;
  left: -10px;
  width: 100px;
  height: auto;
}

.main_box {
  padding: 0 15px;
}

.main_left_right {
  display: flex;
  gap: 10px;
}

.main_left {
  flex: 1;
}

.main_right {
  flex: 1;
}

.main_list {
  background-color: #252525;
  border-radius: 10px;
  margin: 10px 0;
}

.main_list #cityList {
  display: none;
  list-style: none;
  padding: 10px;
  margin: 0;
}

.main_list ul {
  list-style-type: none;
  padding: 0;
}

.main_list li {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  background-color: #686868;
  border-radius: 10px;
  margin: 10px 0;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
}

.end_time_prayer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  background-color: #f1f1f1;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.253);
}

.end_time_prayer .countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2d802d;
  font-size: 1.8em;
  padding: 5px 0;
}

.end_time_prayer .prayer_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0;
}

.prayer_info .currentPrayerInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prayer_info #currentPrayerInfo {
  font-size: 2em;
  font-weight: bold;
  padding: 0 5px;
  color: #ac3a3a;
}

.prayer_info .prayerEndTimeInfo {
  display: flex;
  align-items: center;
}

.prayer_info #prayerEndTimeInfo {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 5px;
  color: #2d802d;
}

.prayer_info p {
  font-size: 1.2em;
  font-weight: normal;
}

.prayerTimesContainer .prayer-time {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.prayerTimesContainer .prayer-time svg {
  width: 30px;
  min-width: 30px;
  height: 30px;
}

.prayerTimesContainer .name_time {
  padding: 0 10px;
}

.prayerTimesContainer .name_time h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.prayerTimesContainer .name_time p {
  font-size: 1.5em;
  margin: 2px 0;
}

.prayerTimesContainer .current-prayer {
  color: #ac3a3a;
  font-size: 2em !important;
  font-weight: bold;
}

.prayerTimesContainer .past-prayer {
  color: #a7a7a7;
}

.prayerTimesContainer .next-prayer {
  color: #2d802d;
  font-weight: bold;
}

.main_right .mounth_year {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 8px 0;
  background-color: #f1f1f1;
  border-radius: 10px;
  gap: 5px;
}

.main_right .mounth,
.year {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.main_right .mounth .year,
p {
  font-weight: bold;
  font-size: 1.2em;
}

.main_right .mounth .year,
.city-label {
  font-size: 1.2em;
}

.table_mounth {
  position: relative;
}

.table_mounth_box {
  background-color: #f1f1f1;
  padding: 10px;
}

.table_mounth_box .month-name {
  font-size: 1.5em;
  color: #333;
}


.table_mounth .today {
  background-color: #f8e9e9;
  font-weight: bold;
}

.table_mounth_box .current-prayer {
  font-size: 2em;
  font-weight: bold;
  color: #ac3a3a;
  margin-bottom: 10px;
}


.table_mounth .current-prayer-header {
  background-color: #ac3a3a;
  color: white;
  font-weight: bold;
}


.table_mounth table {
  width: 100vw;
  border-collapse: collapse;
}

.table_mounth thead {
  position: sticky;
  top: 59px;
}

.table_mounth th,
td {
  padding: 8px;
  text-align: center;
}

.table_mounth th {
  background-color: #f4f4f4;
}

.table_mounth h1,
h2 {
  text-align: center;
}

.table_mounth table tr th {
  font-size: calc(2vw + 5px);
  background-color: #f2f2f2;
  padding: 10px 0;
}

.table_mounth table tr td {
  text-align: center;
  font-size: calc(2vw + 6px);
  padding: 5px 0;
  border: 0;
}

.table_mounth table tbody tr:nth-child(even) {
  background: #F7F7F7;
}

.year_list {
  padding: 0 15px;
}

.year_list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 0;
}

.year_list li {
  flex-grow: 1;
  flex-basis: 8em;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.5em;
}

.year_list li:hover {
  background-color: #e0e0e0;
}

.year_list li.selected {
  background-color: #007bff;
  color: white;
}

/*AR*/
.calendar .square {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 1.3em;
  margin: 5px 0;
}

.calendar .square p {
  font-weight: bold;
}

.calendar .square div ~ p {
  font-weight: normal;
}

.calendar .name_day {
  font-weight: bold;
}

/*RU*/
.main_calendar {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
}

.main_calendar .active {
  color: #000;
  font-weight: bold;
}

.main_calendar .icon img {
  width: 20px;
  min-width: 20px;
  height: 20px;
}

.main_calendar .days-of-week {
  border-bottom: 1px solid #cacaca;
  padding-bottom: 5px;
}

.main_calendar .days-of-week {
  color: #cacaca;
  display: flex;
  justify-content: space-around;
  gap: 5px;
  font-size: 1em;
}

.main_calendar .time {
  display: flex;
  justify-content: center;
  font-size: 2em;
  gap: 5px;
}

.main_calendar .date {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 1.5em;
  margin: 9px 0 0 0;
}

/*Calendar Full*/
.calendar_full_year {
  min-width: 320px;
}

.calendar_full_year .calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar_full_year .current-month {
  background: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.185);
  padding: 15px;
  margin-bottom: 20px;
  border-bottom: 2px solid #000;
}

.calendar_full_year .month {
  background: #fff;
  padding: 15px;
  margin: 5px;
  width: 100vw;
  min-width: 320px;
}

.calendar_full_year .current-month {
  background-color: #f1f1f1;
}


.calendar_full_year .month h2 {
  display: flex;
  justify-content: center;
  font-size: 1.8em;
  font-weight: bold;
}

.calendar_full_year .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 10px;
}

.calendar_full_year .day {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ebebeb;
  font-size: 1.5em;
}

.calendar_full_year .day.empty {
  background: #f1f1f1;
}

.calendar_full_year .today {
  background-color: #dde2ee;
  font-weight: bold;
  color: #000;
}

.calendar_full_year .weekdays {
  display: contents;
}

.calendar_full_year .weekday {
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
}

.calendar_full_year .weekend {
  color: red;
}

.calendar_full_year .month:not(.current-month) .weekend {
  color: black;
}


.calendar_full_year .month-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50vw;
  height: auto;
}

.calendar_full_day {
  position: sticky;
  top: 59px;
  display: flex;
  justify-content: center;
  font-size: 1.1em;
  min-width: 320px;
  background-color: #fff;
  border-bottom: 2px solid #000;
  padding: 5px 0;
}

.name_time .modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.863);
}

.modal .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.26);
  border: 1px solid #b9b9b9;
}

.modal-content h2 {
  font-size: 2.5em;
  border-bottom: 1px solid #000;
  padding: 5px 0;
}

.modal-content p {
  font-size: 1.2em;
  font-weight: normal;
  padding: 5px 0;
}

.modal-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-content .openModal {
  cursor: pointer;
}

/*Reklama*/
.reklama {
  padding: 0 15px;
}

.reklama .content {
  font-size: 1em;
  color: #11853e;
  border: 1px solid #11853e;
  padding: 0 5px;
}

.reklama img {
  max-width: 100%;
  height: auto;
}

/*iPhone*/
.imodal {
  position: fixed;
  left: 0
}

.imodal {
  display: none;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .9);
  z-index: 10;
}

.imodal-content {
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  position: relative;
}

.iclose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: 700;
}

.iclose:focus,
.iclose:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.jumma_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  left: 0;
  background-color: #11853e;
  z-index: 50;
}

.popup {
  display: none;
}

.jumma_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 0 15px;
}

.jumma_text {
  font-family: 'Monplesir';
  font-size: 5em;
  line-height: 70px;
  color: #fff;
  padding-bottom: 50px;
}

.jumma_descr {
  font-size: 2em;
  text-transform: uppercase;
  color: #11853e;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 5px;
}

#closeBtn {
  position: absolute;
  cursor: pointer;
  color: #8ce0b6;
  top: 10px;
  right: 15px;
  font-size: 1.5em;
}