@charset "UTF-8";

.header_container,
.theme_bt {
    align-items: center;
    display: flex;
    top: 0
}

.header_container,
.theme {
    background-color: var(--bg)
}

.custom-header nav span,
.fc-calendar .fc-head {
    line-height: 30px;
    height: 30px
}

.accordion:after,
.custom-header h2,
.custom-header h3,
.header_container h1,
.highlighted,
.solat,
.week,
.year {
    font-weight: 700
}

* {
    padding: 0;
    margin: 0;
    border: none
}

*,
::after,
::before,
:after,
:before {
    box-sizing: border-box
}

a,
a:hover,
a:link,
a:visited {
    text-decoration: none
}

aside,
footer,
header,
legend,
main,
nav,
section {
    display: block
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit
}

ul,
ul li {
    list-style: none
}

img {
    vertical-align: top
}

img,
svg {
    max-width: 100%;
    height: auto
}

address {
    font-style: normal
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent
}

input::-ms-clear {
    display: none
}

button,
input[type=submit] {
    display: inline-block;
    box-shadow: none;
    background: 0 0;
    cursor: pointer
}

button:active,
button:focus,
input:active,
input:focus {
    outline: 0
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

label {
    cursor: pointer
}

[data-theme=light] {
    --bg: #FAFAFA;
    --bg-day: #F1F1F1;
    --border: #0A0A0A;
    --colorline: #0A0A0A;
    --fill: #0A0A0A;
    --text: #0A0A0A;
    --text-descr: #FAFAFA;
    --theme-bt: url("../img/svg/dark.svg")
}

[data-theme=dark] {
    --bg: #0A0A0A;
    --bg-day: #161817;
    --border: #FAFAFA;
    --colorline: #FAFAFA;
    --fill: #FAFAFA;
    --text: #FAFAFA;
    --text-descr: #FAFAFA;
    --theme-bt: url("../img/svg/light.svg")
}

.theme {
    transition: .4s;
    position: relative;
    min-height: 100vh
}

.theme_bt {
    justify-content: center;
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px
}

.btnicon {
    border: 1px solid var(--border);
    border-radius: 10px;
    background-image: var(--theme-bt);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    width: 40px;
    height: 40px
}

.dopheader,
header {
    position: relative;
    height: 60px;
    z-index: 1
}

.header_container {
    position: fixed;
    left: 0;
    width: 100vw;
    min-width: 320px;
    height: 60px
}

.header_container h1 {
    font-size: 25px;
    color: var(--text)
}

.headerclose,
.menu_modal,
.mounthclose,
.yearclose {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px
}

.bottom_icon,
.bottom_icon svg,
.dopheader_header_container img,
.headerclose svg,
.menu_modal svg,
.mounthclose svg,
.prayer_icon svg,
.yearclose svg {
    width: 30px;
    height: 30px
}

.bottom_icon path,
.headerclose path,
.menu_modal path,
.mounthclose path,
.prayer_icon path,
.yearclose path {
    fill: var(--fill)
}

.headerparagraph-content {
    position: absolute;
    left: 15px;
    right: 15px;
    width: calc(100vw - 30px);
    height: 60px
}

.menuvideo_container {
    display: flex;
    align-items: center;
    background-color: var(--bg-day);
    height: 60px;
    padding-left: 15px
}

.menuvideo_container a {
    font-size: 20px;
    color: var(--text)
}

.dopheader_header_container {
    display: flex;
    align-items: center;
    position: fixed;
    height: 60px
}

#player,
.fc-calendar,
.youtube-container {
    height: 100%;
    width: 100%
}

.dopheader_header_container h1,
.time {
    font-size: 25px
}

.youtube-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .774);
    z-index: 9999
}

.youtube-list {
    display: flex;
    flex-wrap: wrap
}

.change-youtube {
    flex-basis: calc(50% - 10px);
    margin: 5px;
    border: 6px solid #bfe2ff;
    transition: box-shadow .3s linear;
    cursor: pointer;
    background: #bfe2ff
}

.custom-content-reveal h4,
.custom-header {
    border-bottom: 1px solid #ddd;
    border-top: 5px solid #0a0a0a
}

.day,
.prayer_icon {
    border-right: 1px solid var(--border)
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fffb00;
    background-color: rgba(0, 0, 0, .363);
    cursor: pointer;
    z-index: 10000
}

.fc-calendar-container,
.modal,
footer {
    position: relative
}

.fc-calendar .fc-body {
    position: relative;
    width: 100%;
    height: 100%;
    height: calc(100% - 30px);
    border: 1px solid #ddd
}

.fc-calendar .fc-row {
    width: 100%;
    border-bottom: 1px solid #ddd
}

.fc-four-rows .fc-row {
    height: 25%
}

.fc-five-rows .fc-row {
    height: 20%
}

.fc-six-rows .fc-row {
    height: 16.6666666667%
}

.fc-calendar .fc-head>div,
.fc-calendar .fc-row>div {
    float: left;
    height: 100%;
    width: 14.2857142857%;
    position: relative
}

.ie9 .fc-calendar .fc-head>div,
.ie9 .fc-calendar .fc-row>div {
    width: 14.2%
}

.fc-calendar .fc-row>div {
    border-right: 1px solid #ddd;
    padding: 4px;
    overflow: hidden;
    position: relative
}

.fc-calendar .fc-head>div {
    text-align: center
}

.fc-calendar .fc-row>div>span.fc-weekday {
    padding-left: 5px;
    display: none
}

.fc-calendar .fc-row>div.fc-out {
    opacity: .6
}

.fc-calendar .fc-head>div:last-child,
.fc-calendar .fc-row>div:last-child {
    border-right: none
}

.fc-calendar .fc-row:last-child {
    border-bottom: none
}

.custom-calendar-wrap {
    margin: 10px auto;
    position: fixed;
    width: 100vw;
    overflow: hidden
}

.custom-inner {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    overflow: hidden
}

.custom-inner:after,
.custom-inner:before {
    content: "";
    width: 99%;
    height: 50%;
    position: absolute;
    background: #f6f6f6;
    bottom: -4px;
    left: .5%;
    z-index: -1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2)
}

.custom-inner:after {
    content: "";
    width: 98%;
    bottom: -7px;
    left: 1%;
    z-index: -2
}

.custom-header {
    background: #0a0a0a;
    padding: 5px 10px 10px 20px;
    height: 70px;
    position: relative
}

.custom-header h2,
.custom-header h3 {
    text-align: center;
    text-transform: uppercase
}

.custom-header h2 {
    color: #fff;
    font-size: 18px;
    margin-top: 10px
}

.custom-header h3 {
    font-size: 10px;
    color: #fff
}

.custom-header nav span {
    position: absolute;
    top: 17px;
    width: 30px;
    color: transparent;
    cursor: pointer;
    margin: 0 1px;
    font-size: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.custom-header nav span:first-child {
    left: 5px
}

.custom-header nav span:last-child {
    right: 5px
}

.custom-header nav span:before {
    font-family: fontawesome-selected;
    color: #fff;
    position: absolute;
    text-align: center;
    width: 100%
}

.custom-header nav span.custom-prev:before {
    content: "◂"
}

.custom-header nav span.custom-next:before {
    content: "▸"
}

.custom-header nav span:hover:before {
    color: #495468
}

.custom-content-reveal {
    background: rgba(246, 246, 246, .9);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
    text-align: center;
    transition: .6s ease-in-out
}

.custom-content-reveal span.custom-content-close {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    background: #0a0a0a;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    cursor: pointer;
    line-height: 13px;
    padding: 0
}

.custom-content-reveal span.custom-content-close:after {
    content: "x";
    font-size: 18px;
    color: #fff
}

.custom-content-reveal a,
.custom-content-reveal span {
    font-size: 22px;
    padding: 10px 30px;
    display: block
}

.custom-content-reveal h4 {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 3px;
    color: #777;
    padding: 20px;
    background: #fff;
    box-shadow: 0 1px rgba(255, 255, 255, .9);
    margin-bottom: 30px
}

.custom-content-reveal span {
    color: #888
}

.custom-content-reveal a,
.fc-calendar .fc-row>div.fc-content:hover:after,
.fc-calendar .fc-row>div.fc-today.fc-content:after {
    color: #0a0a0a
}

.custom-content-reveal a:hover {
    color: #333
}

.fc-calendar-container {
    height: 400px;
    width: auto;
    padding: 30px;
    box-shadow: inset 0 1px rgba(255, 255, 255, .8)
}

.fc-calendar .fc-head {
    background: 0 0;
    color: #0a0a0a;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px
}

.fc-calendar .fc-row>div {
    background: #fff;
    cursor: pointer
}

.fc-calendar .fc-row>div:empty {
    background: 0 0
}

.fc-calendar .fc-row>div>span.fc-date {
    position: absolute;
    width: 30px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, .8);
    bottom: 5px;
    right: 5px;
    top: 50%;
    left: 50%;
    text-align: center;
    margin: -10px 0 0 -15px;
    color: #686a6e;
    font-weight: 400;
    pointer-events: none
}

.fc-calendar .fc-row>div.fc-today {
    background: #0a0a0a;
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, .1)
}

.fc-calendar .fc-row>div.fc-today>span.fc-date {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .1)
}

.fc-calendar .fc-row>div.fc-content:after {
    content: "·";
    text-align: center;
    width: 20px;
    margin-left: -10px;
    position: absolute;
    color: #ddd;
    font-size: 70px;
    line-height: 20px;
    left: 50%;
    bottom: 3px
}

.fc-calendar .fc-row>div.fc-today.fc-content:hover:after {
    color: #fff
}

.fc-calendar .fc-row>div>div a,
.fc-calendar .fc-row>div>div span {
    display: none;
    font-size: 22px
}

@media screen and (max-width:400px) {
    .fc-calendar-container {
        height: 300px
    }

    .fc-calendar .fc-row>div>span.fc-date {
        font-size: 15px
    }
}

address,
blockquote,
body,
caption,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
img,
li,
ol,
p,
table,
td,
th,
tr,
ul {
    margin: 0;
    padding: 0
}

body,
html {
    height: 100%
}

body,
button,
input,
select,
table,
textarea {
    font: 1em/1.5 arial, helvetica, sans-serif
}

.calc_container {
    left: 10px;
    right: 10px;
    width: calc(100vw - 20px);
    min-width: 300px;
    position: fixed;
    background-color: #edf1fa;
    color: #252e49;
    height: 100vh;
    max-height: 75vh
}

#calculator header,
.container {
    background-color: #fff;
    display: flex
}

#calculator {
    display: flex;
    flex-direction: column;
    font-size: min(9vw, 10vh)
}

#calculator header {
    flex: 0 0 auto;
    align-items: center;
    font-size: min(10vw, 10vh);
    padding: 40px 15px;
    border: 1px solid #252e49
}

#calculator header span {
    flex: 0 0 auto
}

#calculator header output {
    flex: 1 0 auto;
    text-align: right
}

#calculator fieldset {
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%
}

#calculator fieldset button {
    flex: 1 0 auto;
    width: 25%;
    border: 1px solid rgba(37, 46, 73, .1176470588)
}

#calculator fieldset .wide {
    width: 50%
}

.container {
    position: fixed;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    border-radius: 8px
}

.container button {
    padding: 40px 30px;
    margin: 10px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px
}

#prayerTimesTableBody,
h1 {
    color: #252e49
}

#counter {
    font-size: 50px;
    margin: 10px 0
}

main {
    position: relative;
    height: 600px
}

.main_container {
    position: absolute
}

.subheader {
    position: relative;
    height: 100px
}

.subheader_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100vw;
    min-width: 320px;
    height: 100px;
    padding: 0 15px 0 0;
    color: var(--text)
}

.day_mounth_year {
    display: flex;
    align-items: center;
    font-size: 18px
}

.clock,
.day {
    align-items: center;
    display: flex
}

.day {
    justify-content: center;
    background-color: var(--bg-day);
    padding: 5px 10px 5px 15px
}

.mounth_year {
    padding: 3px 5px
}

.year {
    font-size: 12px
}

.week_clock {
    display: flex;
    flex-direction: column
}

.week {
    font-size: 15px
}

.clock {
    padding-top: 3px;
    font-size: 23px
}

.clock span {
    padding-left: 10px;
    font-size: 10px;
    color: #7c7c7c
}

.endtime {
    position: relative;
    height: 30px
}

.endtime_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    position: absolute;
    width: 100vw;
    min-width: 300px;
    height: 30px;
    color: var(--text)
}

.timeToNextPrayerContainer {
    width: 100vw
}

.next_prayer_times {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: var(--text)
}

.myline {
    background-color: #bac9f5;
    width: 100vw;
    margin-top: 5px
}

#colorLine {
    width: 100vw;
    background-color: var(--colorline);
    padding-top: 1px;
    transition: width 1s linear
}

.main_day_prayer_times {
    position: relative;
    height: 65px
}

.main_day_prayer_times_container {
    display: flex;
    align-items: center;
    position: absolute;
    left: 15px;
    right: 15px;
    width: calc(100vw - 30px);
    height: 60px;
    background-color: var(--bg-day);
    border-radius: 10px;
    padding: 0 10px 0 0;
    color: var(--text)
}

.box_prayer_times,
.prayer_icon_solat_descr {
    align-items: center;
    display: flex
}

.box_prayer_times {
    justify-content: space-between;
    width: 100vw
}

.prayer_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    min-width: 60px;
    height: 40px
}

.solat_descr {
    padding: 0 10px
}

.solat {
    font-size: 20px
}

.bottom_icon_text h2,
.descr {
    font-size: 10px;
    color: var(--text)
}

.accordion,
.payer_table_container h2 {
    font-size: 20px;
    width: 100vw;
    display: flex
}

.highlighted {
    display: flex;
    flex-direction: column;
    color: #1faa63
}

.payer_table_container h2 {
    justify-content: center;
    height: 30px
}

table {
    position: relative;
    border-collapse: collapse;
    width: 100vw
}

table tr th {
    font-size: calc(2vw + 6px)
}

table tr td {
    font-size: calc(3vw + 2px);
    text-align: center;
    padding: 5px 0;
    border: 0
}

td,
th {
    border-bottom: 1px solid #d5d9e6 !important
}

tr {
    color: var(--text)
}

.main_table_stici,
th {
    background-color: #252e49;
    color: #fff
}

th {
    padding: 10px 0
}

#currentMonth {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 40px;
    font-size: 15px;
    padding-bottom: 10px;
    color: #2355ec
}

.main_table_stici {
    position: sticky;
    top: 60px
}

.accordion,
.accordion:hover,
.active,
.footer_container,
.headermodal-content,
.mounthmodal-content,
.panel,
.yearmodal-content {
    background-color: var(--bg)
}

.accordion {
    justify-content: space-between;
    color: var(--text);
    cursor: pointer;
    padding: 15px;
    border: none;
    outline: 0;
    transition: .4s
}

.accordion:after {
    content: "+";
    color: #777;
    float: right;
    margin-left: 5px
}

.active:after {
    content: "−"
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out
}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid var(--border);
    width: 100vw;
    min-width: 320px;
    height: 50px
}

.footer_container h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 55px;
    background-color: #1faa63;
    border-radius: 50px;
    height: 20px;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--text-descr)
}

.headername_icon_close h2,
.jumamubarak,
.mounthname_icon_close h2,
.yearname_icon_close h2 {
    font-size: 25px;
    font-weight: 700
}

.bottom_icon_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px
}

.headermodal,
.mounthmodal,
.yearmodal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2
}

.headermodal-content,
.mounthmodal-content,
.yearmodal-content {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    border-radius: 5px;
    transition: left .1s;
    color: var(--text);
    overflow-y: auto
}

.headerparagraph-content,
.mounthparagraph-content,
.yearparagraph-content {
    padding-top: 65px
}

.headerheader-content,
.mounthheader-content,
.yearheader-content {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    min-width: 320px;
    height: 60px;
    background-color: var(--bg);
    border-bottom: 1px solid var(--border);
    transition: left .1s;
    z-index: 3
}

.imodal,
.popup {
    position: fixed;
    left: 0
}

.headername_icon_close,
.mounthname_icon_close,
.yearname_icon_close {
    display: flex;
    align-items: center;
    color: var(--text)
}

.headername_icon_close p,
.mounthname_icon_close p,
.yearname_icon_close p {
    padding: 5px 0 0 10px;
    font-size: 10px;
    text-transform: uppercase
}

.popup {
    display: none;
    width: 100vw;
    bottom: 0;
    background-color: #252e49;
    padding: 15px 0;
    z-index: 10
}

#closeBtn {
    display: flex;
    width: 100vw;
    margin-top: 10px;
    font-size: 15px;
    justify-content: flex-end;
    padding-right: 20px;
    color: #e7d10b
}

.jumamubarak {
    display: flex;
    justify-content: center;
    color: #fff
}

.imodal {
    display: none;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .9)
}

.imodal-content {
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    position: relative
}

.iclose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: 700
}

.iclose:focus,
.iclose:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer
}

#installPWAButton {
    margin-top: 10px;
    color: #fff;
    padding: 20px;
    background-color: brown
}

/* modal reklama 
.modalls {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalls {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalls-open {
    display: block;
}

.modalls-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
}

.closes {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closes:hover,
.closes:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#myBtnn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2c2c2c;
    background-color: #fcff2e;
    height: 30px;
    width: 60vw;
    box-shadow: 2px 2px 2px black;
    
}

*/