.main_container_icon_name_descr {
    display: flex;
}

.prayer-icon {
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    border-right: 1px solid var(--main-border-right);
}