:root {
    // Header
    --bg: #eef5ff;
    --text: #2a313d;
    --dop-text: #8f9eb1;
    // SubHeader
    --sub-bg: #eef5ff;
    --sub-text: #252e49;
    --sub-circle: #8f9eb1;
    --sub-dop-text: #8f9eb1;
    // Line Timer
    --line-timer-bg: #252e49;
    --line-timer-text: #e2e8f0;
    --line-timer-line: #8f9eb1;
    --line-timer-line-anim: #fca7a7;
    // Main
    --main-border-bottom: #252e49;
    --main-border-right: #252e49;
    --main-text: #252e49;
    --main-dop-text: #8f9eb1;
    --main-time-prayer: #252e49;
    --main-time-prayer-start: #b94343;
    // List
    // Table

}