:root {
    // Header
    --header-bg: #007558;
    --header-name: #fff;
    --header-loc: #9ae0cf;
    // Sub Header
    --subheader-bg: #007558;
    --header-date-ru: #9ae0cf;
    --header-date-ar: #9ae0cf;
    --header-week-ru: #9ae0cf;
    --header-clock: #fff;
}