.subheader {
    position: relative;
    height: 90px;
}

.day-mounth-year-clock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100vw;
    min-width: 320px;
    height: 90px;
    background-color: var(--subheader-bg);
    padding: 0 15px;

}

.ru-ar-week {
    
}

.date-ru-ar {
    margin: 10px 0;
    
    .date-ru {
        margin: 2px 0;
        font-size: 1.7em;
        color: var(--header-date-ru);
    }

    .date-ar {
        margin: 2px 0;
        font-size: 1.3em;
        color: var(--header-date-ar);
    }
}



.box_week {
    margin: 10px 0;

    .week-ru {
        font-size: 1.3em;
        text-transform: uppercase;
        font-weight: bold;
        color: var(--header-week-ru);
    }
}


.box_clock {


    .clock {
        font-size: 2em;
        font-weight: bold;
        color: var(--header-clock);


        span {
            font-size: 0.6em;
            font-weight: normal; 
        }

        span::before {
            content: " ";
        }
    }

}