.main_prayer_times {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-container);
  margin: 10px 0;
  padding: 10px 5px;
}

.prayer-time {}

.name_time {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.name_time h3 {
  font-size: 1.1em;
}

.name_time svg {
  ..border: none;
  margin: 5px 0;
}

.name_time svg path {
  fill: var(--color-svg);
}

.name_time p {
  font-size: 1.4em;
}

.name_time .current-prayer {
  color: var(--color-text-prayer-day);
  font-weight: bold;
}